.hero {
  height: 300px;
  width: 100%;
  background: #000 url("/images/hero.png") no-repeat center;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* color: #1d4ed8; */
}

/* Sudo selecter */
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Overlay color */
  background-color: #000000b3;
  /* background-color: #000000; */
}

.hero * {
  z-index: 20;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 0;
}
